* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}
.container_web_site{
    width: 75%;
    margin: 0 auto;
    border: 1px solid black;
    height: auto;
}